body {
  margin: 0;
  font-family: sans-serif;
}

.form-header {
  margin-top: 0;
  color: #fff;
  margin-bottom: 3.5%;
  text-transform: uppercase;
  letter-spacing: 1.11%;
}

.logo {
 padding-top: 3%;
 margin-bottom: 3%;
}

.text {
  color: #fff;
  line-height: 1.4;
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.register-form {
  border: 1px solid #333;
  padding: 3% 4% 3.5% 4%;
  width: 65%;
  background: rgba(69, 69, 69, 0.45);
  margin: 0 auto;
}

.register-form input[type="text"] {
  width: 50%;
  padding: 1% 3% 1% 0.5%;
}

.homepage {
  text-align: center;
  background-image: url('https://static1.squarespace.com/static/560ee3ace4b006ccc1134da2/5b67bfd9575d1f9e8ad1ec77/5b67c3a80e2e72aae8af53c1/1533527528902/0145_LowRes-Selection_METALLICA-London-O2-22-10-2017_Photo-Ralph-Larmann_DSC01426.jpg');
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.register-form input[type="submit"] {
  background: #FF6700;
  color: #fff;
  border: 1px solid orange;
  text-transform: uppercase;
  font-weight: 600;
  padding: 1% 2%;
}

.register-form input[type="submit"]:hover {
cursor: pointer;
background: red;
}
